*{
    box-sizing: border-box;
    margin: 0px;
}

.wrapper{ 
    gap: 2px;
    height: 120vh;
    display: grid;
    grid-template-rows: 1fr 50px 4fr 20vh;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
    'hd hd'
    'na na'
    'sc as'
    'ft ft';
}

#about_wr{
    grid-template-rows: 1fr 50px 4fr 20vh;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
    'hd hd'
    'na na'
    'sc sc'
    'ft ft';
}

#meny_wr{
    grid-template-columns: 1fr 1fr;
}

#meny_wr li{
    padding-bottom: 25px;
}

header{
    grid-area: hd;
    background-color: #f7fbfc;
}

header h1 img{
    height: 35vh;
    padding: 10px 10px 0px 30px;
}

header h1{
    display: inline;
    display: flex;
    font-family: 'GothicE', sans-serif;
    font-size: 95px;
}

header h1 p{
    align-items: center;
    align-self: center;
}

nav{
    font-family: 'Bahnschrift SemiBold', sans-serif;
    grid-area: na;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: #d6e6f2;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 10px 20x 10px;
}

li#right{
    margin-right: 200px;
}

li#left{
    margin-left: 200px;
}

nav ul li{
    text-align: center;
    padding: 30px 20px 25px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 75px 10px 75px;
    border-bottom: #d6e6f2 solid 5px;
    display: block;
}

nav ul li a:hover{
    color: rgb(46, 93, 139);
    border-bottom: rgb(46, 93, 139) solid 5px;
}

section{
    padding: 0px 20px 10px 20px;
    grid-area: sc;
    background-color: #b9d7ea;
    font-family: 'Bahnschrift SemiBold', sans-serif;
}

section p{
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'GothicE', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

section ul{
    padding-top: 10px;
    padding-bottom: 10px
}

aside{
    padding: 10px 20px 10px 20px;
    grid-area: as;
    color: white;
    background:#769fcd;
    font-family: 'Bahnschrift SemiBold', sans-serif;
}

aside p{
    font-family: 'GothicE', sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

footer{
    grid-area: ft;
    background: rgb(46, 93, 139);
    color: whitesmoke;
    text-decoration: underline;
    font-family: 'Bahnschrift SemiBold', sans-serif;
    padding: 10px 20px 10px 20px;
    font-size: 10px;
}

footer p{
    padding-bottom: 20px;
    font-size: 20px;
}